.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  margin: 1rem auto 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  background: #ffffff;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  margin-top: 1rem;
}

.value-type-container {
  display: flex;
  flex-direction: column;
}

.description-container,
.value-container,
.type-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 1.5rem auto;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.description-container input,
.value-container input {
  padding-left: 0.5rem;
  height: 1.5rem;
  border-radius: 4px;
}

form select {
  height: 2rem;
  padding-left: 0.5rem;
}

form button {
  width: 65%;
  height: 3rem;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background-color: #fd377e;
  border: 2px solid #fd377e;
  margin: 0 auto;
  border-radius: 8px;
  cursor: pointer;
}

.amount-container {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.total-title {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 1rem;
  color: #212529;
}

.total-amount {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  color: #fd377e;
}

.amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 0.5rem;
  color: #343a40;
}

.filter-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
}

.btn-todos {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  color: #ffffff;
  width: 30%;
  height: 2rem;
  background-color: #fd377e;
  border: 1.4px solid #fd377e;
  border-radius: 8px;
}
