.amount-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  margin: 1rem auto;
}

.total-title {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 1.5rem;
  color: #212529;
}

.total-amount {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  color: #fd377e;
}

.amount {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 0.75rem;
  color: #343a40;
  margin: auto;
}
